  <!DOCTYPE html>
  <html>

    <head>

      <title>Connection</title>

      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

      <!-- Import icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
    
    <body>
      
      <ul id="dropdown1" class="dropdown-content">
        <!--<li><a href="#!">User</a></li>-->
        <li class="active"><a href="#!">Setting</a></li>
        <li class="divider"></li>
        <li><a href="../../index.html">Logout</a></li>
      </ul>

      <ul id="dropdown2" class="dropdown-content">
        <!--<li><a href="#!">User</a></li>-->
        <li class="active"><a href="#!">Setting</a></li>
        <li class="divider"></li>
        <li><a href="../../index.html">Logout</a></li>
      </ul>

      <!--navbar-->
      
      <nav class="blue-grey">
        <div class="class navwrapper container">
          <img src="../../img/adigami-icon.ico">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../../Views/Pages/dashboard.html">DASHBOARD</a></li>
            <li class="active"><a href="connections.html">CONNECTIONS</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">USER<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <br>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li class="active"><a href="connections.html">Connections</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">User<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
         
         <div class="container">
          <!-- container-->
           <!-- the beginning of second card-->
             <!--
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="card white">
                        <div class="card-content black-text">
                        <span class="card-title red-text text-accent-2">CREATE CONNECTIONS</span>
                         <div class="row">
                                <div class="input-field col s6">
                                  <input id="connection_name" type="text" class="validate">
                                  <label for="name">Name</label>
                                </div>
                            </div>
                            
                            <div class="row">
                              <div class="input-field col s12">
                                <select multiple>
                                  <option value="" disabled selected>Choose your connection</option>
                                  <option value="1">Option 1</option>
                                  <option value="2">Option 2</option>
                                  <option value="3">Option 3</option>
                                </select>
                                <label>Connections</label>
                            </div>
                            </div>
                            <div class="row">
                                    <div class="input-field col s12">                                        
                                      <button class="right btn waves-effect waves-light red accent-2" type="submit" name="action">CREATE CONNECTION</button>
                                    </div>
                                  </div>
                    </div>
                  </div>
                </div>
              </div>
             <!-- end of the FIRST card--> 
             <!-- the beginning of second card-->
             <!--
              <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="card white">
                        <div class="card-content black-text">
                        <span class="card-title red-text text-accent-2">CONNECTIONS</span>
                        <i class="material-icons">edit</i>
                         <table class="highlight">
                    <thead>
                      <tr>
                          <th>Name</th>
                          <th>Data Source</th>
                          <th>Last Modified</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>First</td>
                        <td>Facebook Ads</td>
                        <td>11/08/2017</td>
                      </tr>
                      <tr>
                        <td>Second</td>
                        <td>Google AdWords</td>
                        <td>11/06/2017</td>
                      </tr>
                      <tr>
                        <td>Third</td>
                        <td>DoubleClick</td>
                        <td>11/21/2017</td>
                      </tr>
                    </tbody>
                    </table>      
                    </div>
                  </div>
                </div>
              </div><!-- end of the second card-->
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header active"><i class="material-icons">create_new_folder</i>CONNECTIONS</div>
              <div class="collapsible-body">
                     <i class="material-icons">edit</i>
                         <table class="highlight">
                                <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>Data Source</th>
                                      <th>Last Modified</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>First</td>
                                    <td>Facebook Ads</td>
                                    <td>11/08/2017</td>
                                  </tr>
                                  <tr>
                                    <td>Second</td>
                                    <td>Google AdWords</td>
                                    <td>11/06/2017</td>
                                  </tr>
                                  <tr>
                                    <td>Third</td>
                                    <td>DoubleClick</td>
                                    <td>11/21/2017</td>
                                  </tr>
                                </tbody>
                                </table>   
            </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>
              CREATE CONNECTIONS 
              </div>
              <div class="collapsible-body">
                 <div class="row">
                    <div class="input-field col s6">
                      <input id="connection_name" type="text" class="validate">
                      <label for="name">Name</label>
                    </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <select multiple>
                      <option value="" disabled selected>Choose your connection</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                    <label>Connections</label>
                </div>
                </div>
                <div class="row">
                        <div class="input-field col s12">                                        
                          <button class="right btn waves-effect waves-light red accent-2" type="submit" name="action">CREATE CONNECTION</button>
                        </div>
                </div>
              </div><!-- end of collapse body-->
            </li>
          </ul>         
            
        </div>
        
        
              
        
        
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../../js/materialize.min.js"></script>
      <script src="../../js/init.js"></script>

    </body>

  </html>