<!DOCTYPE html>
  <html>
    <head>
      <title>Adigmai</title>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="../../css/materialize.min.css">
      <link rel="stylesheet" href="../../css/init.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="../../js/materialize.min.js"></script>
      <!-- Import icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
      <!--navbar dropdown-->
      <ul id="navbar-dropdown" class="dropdown-content">
        <li><a href="../../Views/Pages/setting.html">Setting</a></li>
        <li class="divider"></li>
        <li><a href="../../index.html">Logout</a></li>
      </ul>
      <!--side-nav dropdown-->
      <ul id="side-nav-dropdown" class="dropdown-content">
        <li><a href="../../Views/Pages/setting.html">Setting</a></li>
        <li class="divider"></li>
        <li><a href="../../index.html">Logout</a></li>
      </ul>
      <!--navbar-->
      <nav class="blue-grey">
        <div class="class navwrapper container">
          <img src="../../img/adigami-icon.ico">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../../Views/Pages/dashboard.html">DASHBOARD</a></li>
            <li class="active"><a href="#!">CONNECTIONS</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="navbar-dropdown">USER<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <br>
            <li><a href="../../Views/Pages/dashboard.html">Dashboard</a></li>
            <li class="active"><a href="#!">Connections</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="side-nav-dropdown">User<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>

<script type="text/javascript">
$(document).ready(function($)
{
  //ajax row data
  var ajax_data =
  [
    {sname:"First", datasource:"Facebook Ads", lastdate:"11/08/2017"}, 
    {sname:"Second", datasource:"Google AdWords", lastdate:"11/08/2017"},
    {sname:"Third", datasource:"Double Click", lastdate:"11/08/2017"},
  ]



  var random_id = function  () 
  {
    var id_num = Math.random().toString(9).substr(2,3);
    var id_str = Math.random().toString(36).substr(2);
    
    return id_num + id_str;
  }


  //--->create data table > start
  var tbl = '';
  tbl +='<table class="table table-hover">'

    //--->create table header > start
    tbl +='<thead>';
      tbl +='<tr>';
      tbl +='<th>Name</th>';
      tbl +='<th>Data Source</th>';
      tbl +='<th>Last Modified</th>';
      tbl +='</tr>';
    tbl +='</thead>';
    //--->create table header > end

    
    //--->create table body > start
    tbl +='<tbody>';

      //--->create table body rows > start
      $.each(ajax_data, function(index, val) 
      {
        //you can replace with your database row id
        var row_id = random_id();

        //loop through ajax row data
        tbl +='<tr row_id="'+row_id+'">';
          tbl +='<td ><div class="row_data" edit_type="click" col_name="sname">'+val['sname']+'</div></td>';
          tbl +='<td ><div class="row_data" edit_type="click" col_name="datasource">'+val['datasource']+'</div></td>';
          tbl +='<td ><div class="row_data" edit_type="click" col_name="lastdate">'+val['lastdate']+'</div></td>';

          //--->edit options > start
          tbl +='<td>';
           
            tbl +='<span class="btn_edit" > <a href="#" class="btn btn-link " row_id="'+row_id+'" > <i class="material-icons" title="Edit">edit</i> </a> </span>';

            //only show this button if edit button is clicked
            tbl +='<span class="btn_save"> <a href="#" class="btn btn-link"  row_id="'+row_id+'"> <i class="material-icons" title="save">save</i></a> </span>';
            tbl +='<span class="btn_cancel"> <a href="#" class="btn btn-link" row_id="'+row_id+'"> <i class="material-icons" title="delete">delete</i></a> </span>';

          tbl +='</td>';
          //--->edit options > end
          
        tbl +='</tr>';
      });

      //--->create table body rows > end

    tbl +='</tbody>';
    //--->create table body > end

  tbl +='</table>'  
  //--->create data table > end

  //out put table data
  $(document).find('.tbl_user_data').html(tbl);

  $(document).find('.btn_save').hide();
  $(document).find('.btn_cancel').hide(); 


  //--->make div editable > start
  $(document).on('click', '.row_data', function(event) 
  {
    event.preventDefault(); 

    if($(this).attr('edit_type') == 'button')
    {
      return false; 
    }

    //make div editable
    $(this).closest('div').attr('contenteditable', 'true');

    $(this).focus();
  })  
  //--->make div editable > end


  //--->save single field data > start
  $(document).on('focusout', '.row_data', function(event) 
  {
    event.preventDefault();

    if($(this).attr('edit_type') == 'button')
    {
      return false; 
    }

    var row_id = $(this).closest('tr').attr('row_id'); 
    
    var row_div = $(this)
    .removeAttr('contenteditable') //make div editable    
    .css('padding','')

    var col_name = row_div.attr('col_name'); 
    var col_val = row_div.html(); 

    var arr = {};
    arr[col_name] = col_val;

    //use the "arr" object for your ajax call
    $.extend(arr, {row_id:row_id});

    //out put to show
    $('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>');
    
  })  
  //--->save single field data > end

 
  //--->button > edit > start 
  $(document).on('click', '.btn_edit', function(event) 
  {
    event.preventDefault();
    var tbl_row = $(this).closest('tr');

    var row_id = tbl_row.attr('row_id');

    tbl_row.find('.btn_save').show();
    tbl_row.find('.btn_cancel').show();

    //hide edit button
    tbl_row.find('.btn_edit').hide(); 

    //make the whole row editable
    tbl_row.find('.row_data')
    .attr('contenteditable', 'true')
    .attr('edit_type', 'button')
    .addClass('bg-warning')
    .css('padding','3px')

    //--->add the original entry > start
    tbl_row.find('.row_data').each(function(index, val) 
    {  
      //this will help in case user decided to click on cancel button
      $(this).attr('original_entry', $(this).html());
    });     
    //--->add the original entry > end

  });
  //--->button > edit > end


  //--->button > cancel > start 
  $(document).on('click', '.btn_cancel', function(event) 
  {
    event.preventDefault();

    var tbl_row = $(this).closest('tr');

    var row_id = tbl_row.attr('row_id');

    //hide save and cacel buttons
    tbl_row.find('.btn_save').hide();
    tbl_row.find('.btn_cancel').hide();

    //show edit button
    tbl_row.find('.btn_edit').show();

    //make the whole row editable
    tbl_row.find('.row_data')
    .attr('edit_type', 'click')
    .removeAttr('contenteditable')
    .removeClass('bg-warning')
    .css('padding','') 

    tbl_row.find('.row_data').each(function(index, val) 
    {   
      $(this).html( $(this).attr('original_entry') ); 
    });  
  });
  //--->button > cancel > end

  
  //--->save whole row entery > start 
  $(document).on('click', '.btn_save', function(event) 
  {
    event.preventDefault();
    var tbl_row = $(this).closest('tr');

    var row_id = tbl_row.attr('row_id');

    
    //hide save and cacel buttons
    tbl_row.find('.btn_save').hide();
    tbl_row.find('.btn_cancel').hide();

    //show edit button
    tbl_row.find('.btn_edit').show();


    //make the whole row editable
    tbl_row.find('.row_data')
    .attr('edit_type', 'click')
    .removeAttr('contenteditable')
    .removeClass('bg-warning')
    .css('padding','') 

    //--->get row data > start
    var arr = {}; 
    tbl_row.find('.row_data').each(function(index, val) 
    {   
      var col_name = $(this).attr('col_name');  
      var col_val  =  $(this).html();
      arr[col_name] = col_val;
    });
    //--->get row data > end

    //use the "arr" object for your ajax call
    $.extend(arr, {row_id:row_id});

    //out put to show
    $('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>')
     

  });
  //--->save whole row entery > end


}); 
</script>

 

<div class="panel panel-default">
  <div class="panel-body">
   <div class="container">
        <br>
        <div class="row">
          <div class="col s12">
            <div class="card white">
              <div class="card-content black-text">
                <span class="card-title red-text text-accent-2"><i class="material-icons left">filter_drama</i>CONNECTIONS<button class="right btn waves-effect waves-light red accent-2 modal-trigger" href="#modal1" type="submit" name="action"><i class="material-icons left">add</i>CREATE CONNECTION</button></span>
                <br>
                <div class="tbl_user_data"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

 
 <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>CREATE CONNECTIONS</h4>
            <br>

            <div class="input-field col s6">
              <input id="connection_name" type="text" class="validate">
              <label for="name">Name</label>
            </div>

            <div class="input-field col s12">
              <select>
                <option value="" disabled selected>Choose your connection</option>
                <option value="1">Facebook Ads</option>
                <option value="2">Google Adwords</option>
                <option value="3">Option 3</option>
              </select>
            </div>
            <br><br><br><br><br>
          </div>

          <!--create connection btn-->
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-light btn red accent-2">CREATE CONNECTION</a>
          </div>
          <br>

        </div>                   
      </div>
          
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../../js/mindmup-editabletable.js"></script>
      <script type="text/javascript" src="../../js/materialize.min.js"></script>
      <script src="../../js/init.js"></script>

    </body>
</html>