 <!DOCTYPE html>
  <html>
    <head>
      <title>Adigami</title>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="../../css/materialize.min.css">
      <link rel="stylesheet" href="../../css/init.css">
      <!-- Compiled and minified JavaScript -->
      <script src="../../js/materialize.min.js"></script>
      <!-- Import icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body class="grey lighten-5">
      <!--navbar dropdown-->
      <!--
      <ul id="navbar-dropdown" class="dropdown-content">
        <li><a href="Views/Pages/setting.html">Setting</a></li>
        <li class="divider"></li>
        <li><a href="#!">Logout</a></li>
      </ul>
      -->
      <!--side-nav dropdown-->
      <!--
      <ul id="side-nav-dropdown" class="dropdown-content">
        <li><a href="Views/Pages/setting.html">Setting</a></li>
        <li class="divider"></li>
        <li><a href="#!">Logout</a></li>
      </ul>
      -->
      <!--navbar-->
      <nav class="blue-grey">
        <div class="class navwrapper container">
          <img src="../../img/adigami-icon.ico">
          <!--
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="Views/Pages/dashboard.html">DASHBOARD</a></li>
            <li><a href="Views/Pages/connections.html">CONNECTIONS</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="navbar-dropdown">USER<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <br>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="connections.html">Connections</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="side-nav-dropdown">User<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          -->
        </div>
      </nav>

      <div class="valign-wrapper" style="width: 100%; height: 90%; position: absolute;">
          <div class="valign" style="width: 100%;">
              <div class="container">
                 <div class="row">
                    <div class="col s12 m6 offset-m3">
                       <div class="card">
                          <div class="card-content">
                             <span class="card-title red-text text-accent-2">LOG IN</span>
                             <form action="../../Views/Pages/dashboard.html">
                                <div class="row">
                                  <div class="input-field col s12">
                                      <input id="email" type="email" class="validate">
                                      <label for="email">Email</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="input-field col s12">
                                      <input id="password" type="password" class="validate">
                                      <label for="password">Password</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="input-field col s8" style="height: 5px">
                                       <a href="../../Views/Pages/forgotpassword.html">Forgot password?</a> 
                                  </div>
                                </div>                                
                                <div class="row">
                                  <div class="input-field col s8">
                                       <a href="index.html">Create account</a> 
                                  </div>
                                  <div class="input-field col s4">
                                      <input type="submit" class="right btn waves-effect waves-light red accent-2" value="Log In">
                                  </div>
                                </div>
                             </form>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
          </div>
      </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../../js/materialize.min.js"></script>
      <script src="../../js/init.js"></script>

    </body>
  </html>