<!DOCTYPE html>
  <html>
    <head>
      <title>Adigmai</title>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="../../css/materialize.min.css">
      <link rel="stylesheet" href="../../css/init.css">
      <!-- Compiled and minified JavaScript -->
      <script src="../../js/materialize.min.js"></script>
      <!-- Import icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body class="grey lighten-5">
      <!--navbar dropdown-->
      <ul id="navbar-dropdown" class="dropdown-content">
        <li><a href="../../Views/Pages/setting.html">Settings</a></li>
        <li class="divider"></li>
        <li><a href="login.html">Logout</a></li>
      </ul>
      <!--side-nav dropdown-->
      <ul id="side-nav-dropdown" class="dropdown-content">
        <li><a href="../../Views/Pages/setting.html">Settings</a></li>
        <li class="divider"></li>
        <li><a href="login.html">Logout</a></li>
      </ul>
      <!--navbar-->
      <nav class="blue-grey">
        <div class="class navwrapper container">
          <img src="../../img/adigami-icon.ico">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../../Views/Pages/dashboard.html">DASHBOARD</a></li>
            <li class="active"><a href="../../Views/Pages/connections.html">CONNECTIONS</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="navbar-dropdown">USER<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <br>
            <li><a href="../../Views/Pages/dashboard.html">Dashboard</a></li>
            <li class="active"><a href="#!">Connections</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="side-nav-dropdown">User<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
 
      <br>   
      <div class="container" style="margin-top: 30px">
        <div class="row">
          <div class="col s12 m6 offset-m3">
            <div class="card">
              <div class="card-content">
                <span class="card-title red-text text-accent-2"><i class="material-icons left">filter_drama</i>NEW CONNECTION</span>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="name" type="text" class="validate">
                    <label for="name">Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <select>
                      <option value="" disabled selected>Choose your data source</option>
                      <option value="1">Goggle Adwords</option>
                      <option value="2">Bing Ads</option>
                      <option value="3">Facebook Ads</option>
                      <option value="4">DFP</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">                  
                    <a href="../../Views/Pages/connections.html" class="right modal-action modal-close waves-effect waves-light btn red accent-2">CONNECT</a>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../../js/mindmup-editabletable.js"></script>
      <script type="text/javascript" src="../../js/materialize.min.js"></script>
      <script src="../../js/init.js"></script>

    </body>
  </html>