<!DOCTYPE html>
  <html>
    <head>
      <title>Adigami</title>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="../../css/materialize.min.css">
      <link rel="stylesheet" href="../../css/init.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
      <!-- Compiled and minified JavaScript -->
      <script src="../../js/materialize.min.js"></script>
      <!-- PRICING CSS -->
      <link type="text/css" rel="stylesheet" href="../../css/pricing.css"  media="screen"/>
      <!-- Import icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body class="grey lighten-5">
      <!--navbar dropdown-->
      <ul id="navbar-dropdown" class="dropdown-content">
        <li><a href="../../Views/Pages/setting.html">Settings</a></li>
        <li class="divider"></li>
        <li><a href="login.html">Logout</a></li>
      </ul>
      <!--side-nav dropdown-->
      <ul id="side-nav-dropdown" class="dropdown-content">
        <li><a href="../../Views/Pages/setting.html">Settings</a></li>
        <li class="divider"></li>
        <li><a href="login.html">Logout</a></li>
      </ul>
      <!--navbar-->
      <nav class="blue-grey">
        <div class="class navwrapper container">
          <img src="../../img/adigami-icon.ico">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>

      <br>
      <div class="container">

        <div class="row">

            <!-- FEATURED PLAN ( USE EXTRA CLASS z-depth-4 TO RAISE FEATURED PLAN )-->
            <div class="col s12 m4">

                <!-- START PRICING PLAN -->
                <div class="card pricing style-2 z-depth-4">

                    <!-- START PLAN TITLE DIV. -->
                    <div class="plan-title waves-effect waves-block waves-light red accent-3">
                        <h5 class="white-text">
                            <span class="plan">STARTER</span>
                        </h5>
                    </div>
                    <!-- END PLAN TITLE DIV. -->

                    <!-- START PRICE INFO DIV. -->
                    <div class="price waves-effect waves-block waves-light red accent-2">
                        <h4 class="white-text">
                            <span class="currency">$</span>
                            <span class="amount">99</span>
                            <span class="period">/mo</span>
                        </h4>
                    </div>
                    <!-- END PRICE INFO DIV. -->

                    <div class="card-content">

                        <!-- START FEATURE LIST -->
                        <ul class="collection">
                            <li class="collection-item center"><b>3</b> <span class="grey-text">Connections</span></li>
                            <li class="collection-item center"><b>12</b> <span class="grey-text">Months Data</span></li>
                            <li class="collection-item center grey-text">CSV Reports</li>
                            <li class="collection-item center"><b>Standard</b> <span class="grey-text">Support<span></li>
                        </ul>
                        <!-- END FEATURE LIST -->

                        <!-- START SIGN UP BUTTON -->
                        <div class="plan-signup-btn">
                            <a id="start-now-plus" class="btn-large waves-effect waves-block waves-light no-margin white-text red accent-2" href="#"><span class="white-text">Try It Now</span></a>
                        </div>
                        <!-- END SIGN UP BUTTON -->
                        <p class="center grey-text">45 Day Free Trial</p>

                    </div>
                </div>
                <!-- END PRICING PLAN -->

            </div>

            <!-- MATERIALIZE CSS USES 12 COLUMN GRID SYSTEM, DETAILS http://materializecss.com/grid.html -->
            <div class="col s12 m4">

                <!-- START PRICING PLAN -->
                <div class="card pricing style-2">

                    <!-- START PLAN TITLE DIV. -->
                    <!-- CHANGE COLOR BY CHANGING LAST CSS CLASS (teal) AVAILABLE COLOR CLASSES LISTED HERE http://materializecss.com/color.html -->
                    <div class="plan-title waves-effect waves-block waves-light blue-grey">
                        <h5 class="white-text">
                            <span class="plan">AGENCY</span>
                        </h5>
                    </div>
                    <!-- END PLAN TITLE DIV. -->

                    <!-- START PRICE INFO DIV. -->
                    <div class="price waves-effect waves-block waves-light blue-grey lighten-1">
                        <h4 class="white-text">
                            <span class="currency">$</span>
                            <span class="amount">249</span>
                            <span class="period">/mo</span>
                        </h4>
                    </div>
                    <!-- END PRICE INFO DIV. -->

                    <div class="card-content">

                        <!-- START FEATURE LIST -->
                        <ul class="collection">

                            <!-- USE FOLLOWING LIST ITEM AS EXAMPLE TO ADD TOOLTIP IN FEATURE -->
                            <li class="collection-item center"><b>5</b> <span class="grey-text">Connections</span></li>
                            <li class="collection-item center"><b>24</b> <span class="grey-text">Months Data</span></li>
                            <li class="collection-item center grey-text">CSV Reports</li>
                            <li class="collection-item center"><b>Standard</b> <span class="grey-text">Support<span></li>

                        </ul>
                        <!-- END FEATURE LIST -->

                        <!-- START SIGN UP BUTTON -->
                        <div class="plan-signup-btn">
                            <a id="start-now-starter" class="btn waves-effect waves-block waves-light no-margin white-text blue-grey" href="#">Coming Soon</a>
                        </div>
                        <!-- END SIGN UP BUTTON -->

                    </div>
                </div>
                <!-- END PRICING PLAN -->

            </div>

            <div class="col s12 m4">

                <!-- START PRICING PLAN -->
                <div class="card pricing style-2">

                    <!-- START PLAN TITLE DIV. -->
                    <div class="plan-title waves-effect waves-block waves-light blue-grey">
                        <h5 class="white-text">
                            <span class="currency"></span>
                            <span class="plan">ENTERPRISE</span>
                            <span class="period"></span>
                        </h5>
                    </div>
                    <!-- END PLAN TITLE DIV. -->

                    <!-- START PRICE INFO DIV. -->
                    <div class="price waves-effect waves-block waves-light blue-grey lighten-1">
                        <h4 class="white-text">
                            <span class="amount">CUSTOM</span>
                        </h4>
                    </div>
                    <!-- END PRICE INFO DIV. -->

                    <div class="card-content">

                        <!-- START FEATURE LIST -->
                        <ul class="collection">
                          <li class="collection-item center"><b>Unlimited</b> <span class="grey-text">Connections</span></li>
                          <li class="collection-item center"><b>Unlimited</b> <span class="grey-text">Months Data</span></li>
                          <li class="collection-item center grey-text">Custom Reports</li>
                          <li class="collection-item center"><b>Priority</b> <span class="grey-text">Support<span></li>
                        </ul>
                        <!-- END FEATURE LIST -->

                        <!-- START SIGN UP BUTTON -->
                        <div class="plan-signup-btn">
                            <a id="start-now-premium" class="btn waves-effect waves-block waves-light no-margin white-text blue-grey" href="">Get In Touch</a>
                        </div>
                        <!-- END SIGN UP BUTTON -->

                    </div>
                </div>
                <!-- END PRICING PLAN -->

            </div>
        </div>

      </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../../js/materialize.min.js"></script>
      <script src="../../js/init.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

      <script type="text/javascript">
        new Morris.Area({
          element: 'myfirstchart',
          data: [
            { y: '2014', a: 50,  b: 90},
            { y: '2015', a: 65,  b: 75},
            { y: '2016', a: 50,  b: 50},
            { y: '2017', a: 75,  b: 60},
            { y: '2018', a: 80,  b: 65},
            { y: '2019', a: 90,  b: 70},
            { y: '2020', a: 100, b: 75},
            { y: '2021', a: 115, b: 75},
            { y: '2022', a: 120, b: 85},
            { y: '2023', a: 145, b: 85},
            { y: '2024', a: 160, b: 95}
          ],
          xkey: 'y',
          ykeys: ['a', 'b'],
          labels: ['Series A', 'Series B'],
          lineColors: ['#607d8b','#ff3321'],
        });
      </script>

    </body>
  </html>
