 <!DOCTYPE html>
  <html>

    <head>

      <title>Setting</title>

      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

      <!-- Import icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
    
    <body>
      
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">User</a></li>
        <li class="active"><a href="#!">Setting</a></li>
        <li class="divider"></li>
        <li><a href="../../index.html">Logout</a></li>
      </ul>

      <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">User</a></li>
        <li class="active"><a href="#!">Setting</a></li>
        <li class="divider"></li>
        <li><a href="../../index.html">Logout</a></li>
      </ul>

      <!--navbar-->
      
      <nav>
        <div class="class navwrapper container">
          <img src="../../img/adigami-icon.ico">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../../Views/Pages/dashboard.html">DASHBOARD</a></li>
            <li><a href="connections.html">CONNECTIONS</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">USER<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <br>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="connections.html">Connections</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">User<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
         
         <div class="container">
          <!-- settinlg page cards-->
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="card white">
                        <div class="card-content black-text">
                            <span class="card-title red-text text-accent-2">BASIC INFO</span>
                            <!--the beginign of form -->
                              <div class="row">
                                <form class="col s12">

                                  <div class="row">
                                    <div class="input-field col s12">
                                      <input id="company" type="text" class="validate">
                                      <label for="COMPANY">Company</label>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="input-field col s12">
                                      <input id="first_name" type="text" class="validate">
                                      <label for="first_name">Name</label>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="input-field col s12">
                                      <input disabled value="Email" id= "disabled" type="email" class="validate">
                                      <label for="disabled" data-error="wrong" data-success="right">Email</label>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="input-field col s12">                                        
                                      <button class="right btn waves-effect waves-light red accent-2" type="submit" name="action">UPDATE MY ACCOUNT INFO</button>
                                    </div>
                                  </div>

                                </form>
                              </div><!-- The end of form-->
                        </div>



                  </div>
                </div>
              </div> <!-- the end of first card-->
              <div class="row"><!-- the beginning of second card-->
                <div class="col s12 m8 offset-m2">
                    <div class="card white">
                        <div class="card-content black-text">
                      <span class="card-title red-text text-accent-2">CHANGE PASSWORD</span>
                            <div class="row">
                                <div class="input-field col s12">
                                  <input id="password" type="password" class="validate">
                                  <label for="password">Current Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                  <input id="password" type="password" class="validate">
                                  <label for="password">New Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                  <input id="password" type="password" class="validate">
                                  <label for="password">Confirm New Password</label>
                                </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">                              
                                <button class="right btn waves-effect waves-light red accent-2" type="submit" name="action">CONFIRM</button>
                              </div>
                            </div>
                    </div>
                  </div>
                </div>
              </div><!-- end of the second card-->
            
        </div><!-- the end of container-->
        
        
              
        
        
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../../js/materialize.min.js"></script>
      <script src="../../js/init.js"></script>

    </body>

  </html>